{% extends 'layout.html' %}
{% block body %}
    <div class="jumbotron text-center">
        <div id="spice-table" class="clear">
            <div class="spice">
                <h3>Spyce 1<span>0%</span></h3>
                <a class="view_spice" href="">View Spice</a>
            </div>
            <div class="spice">
                <h3>Spyce 2<span>0%</span></h3>
                <a class="view_spice" href="">View Spice</a>
            </div>
            <div class="spice">
                <h3>Spyce 3<span>0%</span></h3>
                <a class="view_spice" href="">View Spice</a>
            </div>
        </div>
    </div>
{% endblock %}