{% extends 'layout.html' %}

{% block body %}
    <h1>Settings</h1>
     <div class="jumbotron text-center">
        <div id="name-change" class="clear">
            <form method="POST" action="/change_name_1">
                <div class="name">
                    <h2>Spyce 1: <span>{{ name1 }}</span></h2>
                    <input type="text" name="Spyce_1_Name">
                    <input type="submit" value="Rename" class="rename">
                </div>
            </form>
            <form method="POST" action="/change_name_2">
                <div class="name">
                    <h2>Spyce 2: <span>{{ name2 }}</span></h2>
                    <input type="text" name="Spyce_2_Name">
                    <input type="submit" value="Rename" class="rename">
                </div>
            </form>
            <form method="POST" action="/change_name_3">
                <div class="name">
                    <h2>Spyce 3: <span>{{ name3 }}</span></h2>
                    <input type="text" name="Spyce_3_Name">
                    <input type="submit" value="Rename" class="rename">
                </div>
            </form>
        </div>
{% endblock %}